@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "calibri";
}

.bg {
    /* The image used */
    background-image: url("../images/backgroundimage.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.logo {
    font-family: 'Forte';
}

.header,
a.logo {
    margin-left: 80px;
    font-size: 90px;
    color: rgb(213, 191, 24);
    text-decoration: none;
}

.header,
a:hover {
    color: rgb(191, 43, 181);
}

.header-right,
a {
    display: inline;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

input.search {
    width: 260px;
    /* border: 1px solid #e9e6e6; */
    display: inline-block;
    border-radius: 19px;
    padding: 9px 4px 9px 40px;
    background: url("../images/search.svg") no-repeat 13px;
    background-color: aliceblue;
    margin-left: 120px;
    background-color: rgb(226, 188, 219);
}

input.search::placeholder {
    color: #b921ac;
}

input.search:hover {
    border: 1px solid rgb(93, 20, 82);
}

button#cart {
    background-color: #edbfe9;
    border-radius: 19px;
    display: inline-block;
    padding: 3px 17px 8px 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(133, 29, 144);
    font-size: 19px;
    border: none;
}

button#cart:hover {
    background-color: #ffff;
}

img.first {
    width: 50vw;
    /* height: 50vh; */
    background-color: #191619;
    /* border-radius: 29px; */
    border-radius: 0 150px 150px 0;
    opacity: 0.3;
    margin-top: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.centered {
    position: absolute;
    top: 250px;
    left: 10%;
    color: #fff;

}

span {
    font-size: 50px;
    font-family: 'Lucida Calligraphy';
    color: antiquewhite;
}

.la {
    color: rgb(255, 179, 0);
    font-size: 80px;
    font-family: 'Bradley Hand ITC';
}

img.last {
    width: 60vw;
    /* height: 80vh; */
    border-radius: 250px 0 0 250px;
    opacity: 0.4;
    position: absolute;
    top: 200px;
    right: 0px;
}

.cont {
    position: relative;
    text-align: center;
    margin-right: 380px;
    bottom: 60px;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(123, 65, 102);
    font-size: 20px;
    color: #efd657;
    font-family: 'Lucida Calligraphy';
    font-weight: 800;
    position: absolute;

}

.v1 {
    border-left: 3px solid rgb(101, 103, 110);
    height: 78px;
    /* margin: 20px; */
    color: rgb(166, 162, 162);
    line-height: 25px;
    /* position: relative;
    left: 162px; */
    /* top: 15px; */
    margin: 20px 180px;
    
}

.inline {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 170px;
    margin-top: 35px;
    color: rgb(166, 162, 162);
}

.inline,
span {
    font-size: 20px;
    color: rgb(240, 219, 156);
}

p.Quote{
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 40px;
    font-family: "Bradley Hand ITC";
    color: rgb(240, 219, 156);
    font-weight: bolder;

}

#Sub-Container{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 29px 0 50px 0;
    font-family:'calibri';
}

#cardone{
    width: 270px;
    height: 290px;
    border: 1px solid rgb(239, 231, 231);
    border-radius: 66px;
    box-shadow: 0 4px 8px 0 #f6ebeb
}

#cardone img{
    margin-top: 30px;
    margin-left: 10px;
}
#cardone,h1{
    color: white;
    text-align: center;
}
#cardtwo{
    width: 270px;
    height: 290px;
    border: 1px solid rgb(239, 231, 231);
    border-radius: 66px;
    box-shadow: 0 4px 8px 0 #f6ebeb
}
#cardtwo img{
    margin-top: 25px;
    margin-left: 40px;
}
#cardthree{
    width: 270px;
    height: 290px;
    border: 1px solid rgb(239, 231, 231);
    border-radius: 66px;
    box-shadow: 0 4px 8px 0 #f6ebeb
}
#cardthree img{
    margin-top: 20px;
    margin-left: 40px;
}

#Footer{
    width: 100%;
    height: 60%;
    border: 1px solid rgb(84, 9, 65);
    border-radius: 100px 100px 0 0 ;
    background-color: #210e1f;
    opacity: 0.8;
    margin-top: 90px;
}
#Footer h1{
    color: rgb(230, 224, 114);
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Matura MT Script Capitals';
}
.Foot{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    font-family:'calibri';
    margin-top: 30px;
}
.reviewone{
    height: 200px;
    width: 500px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #5a3757;
}
.reviewone p{
    color: antiquewhite;
    margin-left: 35px;
    font-size: 23px;
    margin-top: 20px;
}
.reviewtwo{
    height: 200px;
    width: 500px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #573154;
}
.reviewtwo p{
    color: antiquewhite;
    margin-left: 35px;
    font-size: 23px;
    margin-top: 20px;
}
.checked {
    color: rgb(222, 222, 56);
    margin-top: 30px;
    margin-left: 5px;
    position: relative;
    left: 30px;
  }
/* @media screen and (max-width: 900px) {
    .header a {
      float: none;
      display: block;
      margin-left: 15px;
      text-align: left ;
    }
} */